.carousel-item {
	&__overlay {
		background-image: linear-gradient(
			to bottom,
			transparent 80%,
			rgba(black, 0.5)
		);
		inset: 0;
	}

	&__image {
		aspect-ratio: 2 / 3;
	}
}
.carousel-caption p {
	font-size: 1rem;
}
