@use "../abstracts/mixins" as m;

:where(#site-header) a {
	--bs-link-color-rgb: 255, 255, 255;
	--bs-link-hover-color-rgb: var(--bs-secondary-rgb);
}

.navbar-brand {
	text-wrap: balance;
}

.offcanvas.offcanvas-end {
	top: var(--wp-admin--admin-bar--height, 0px);
}
