@use "../abstracts/mixins" as m;
@use "../abstracts/functions" as fn;

#site-header {
	a,
	a:visited {
		color: white;
		text-decoration-color: transparent;
		transition: fn.transition(color, text-decoration-color);

		@include m.interaction {
			color: var(--wp--preset--color--secondary) !important;
			text-decoration-color: var(--wp--preset--color--secondary);
		}
	}

	.btn-close {
		filter: invert(1);
	}
}

.navbar-brand {
	text-wrap: balance;
}

.offcanvas.offcanvas-end {
	top: var(--wp-admin--admin-bar--height, 0);
}
