@use "../abstracts/mixins" as m;

:where(#site-header) {
	a {
		--bs-link-color-rgb: 255, 255, 255;
		--bs-link-hover-color-rgb: var(--bs-secondary-rgb);

		&:visited {
			color: white;

			@include m.interaction {
				color: var(--wp--preset--color--secondary);
			}
		}
	}

	.btn-close {
		filter: invert(1);
	}
}

.navbar-brand {
	text-wrap: balance;
}

.offcanvas.offcanvas-end {
	top: var(--wp-admin--admin-bar--height, 0);
}
