@use "../abstracts/variables" as v;
@use "../abstracts/mixins" as m;

:root {
	--font-body: #{v.$font-body};
	--transition-standard: #{v.$transition-standard};

	.gform-theme--framework {
		--gf-color-danger: var(--bs-danger);
		--gf-color-danger-rgb: var(--bs-danger-rgb);
		--gf-color-success: var(--bs-success);
		--gf-color-success-rgb: var(--bs-success-rgb);

		--gf-field-pg-prog-bar-bg-color-blue: var(--bs-primary);
	}
}

main {
	flex: 1 0 auto;
}

button#create-pdf-modal-trigger {
	--bs-btn-bg: white;
}
