.top-0 {
	top: calc(var(--wp-admin--admin-bar--height, 0px) + 0.5rem) !important;
}
.font-body {
	font-family: var(--font-body);
}

.fs-root {
	font-size: 1rem;
}

.fs-base {
	font-size: var(
		--wp--preset--font-size--base,
		var(--bs-body-font-size, 1rem)
	);
}
